In [3]:
import pandas as pd
import numpy as np
import os

In [8]:
df = pd.read_csv('df_apple.csv')
df

,Product_ID,Product_Type,Model,Release_Date,Price,In_Stock,Category_Type
0,1,MacBook,"MacBook Pro 13""",2021-05-21,1299.99,True,desktop
1,2,iPad,iPad Air,2022-03-18,599.99,False,mobile
2,3,iPhone,iPhone 13,2023-09-24,999.99,True,mobile
3,4,Watch,Watch Series 7,2021-10-15,399.99,True,wearable
4,5,AirPods,AirPods Pro,2021-05-18,249.99,False,wearable
5,6,MacMini,NaN,NaN,699.99,True,desktop
6,7,NaN,MacMini M1,2020-11-17,NaN,False,desktop
7,8,MacBook Air,MacBook Air M1,2020-12-22,999.99,NaN,desktop

In [2]:
# .iloc Questions

# How would you select the entire row for the product with index 3 using iloc?
# Can you retrieve the Price and In_Stock columns for the first three products using iloc?
# How would you use iloc to select the Model of the product with index 6?
# Is it possible to select the last two rows of the DataFrame using iloc? If so, how?
# How can you use iloc to retrieve data for every alternate product starting from the first product (index 0)?
# Using iloc, how would you select the Product_Type, Model, and Release_Date for the product with index 1?
# Can you demonstrate how to use iloc to select all rows and only the columns for Product_ID, Price, and Category_Type?
# How would you select the first 5 rows and the first 3 columns using iloc?
# Using iloc, how can you retrieve the Model and Price for the products with indices 2, 4, and 7?
# Can you use iloc to reverse the order of rows in the DataFrame, effectively displaying the last row first and the first row last?