In [14]:
import pandas as pd

In [15]:
A = 'applea'

In [16]:
A.find('a', 1)

5

In [17]:
import pandas as pd
from datetime import datetime

# Define a DataFrame with the specified columns and data types
data = {
    'Product_ID': pd.Series([1, 2, 3], dtype=int),  # Numerical
    'Product_Type': pd.Series(['MacBook', 'iPad', 'iPhone'], dtype='category'),  # Categorical
    'Model': pd.Series(['MacBook Pro 13"', 'iPad Air', 'iPhone 13'], dtype='object'),  # Object/String
    'Release_Date': pd.Series([datetime(2021, 5, 21), datetime(2022, 3, 18), datetime(2023, 9, 24)], dtype='datetime64[ns]'),  # Time
    'Price': pd.Series([1299.99, 599.99, 999.99], dtype=float),  # Currency
    'In_Stock': pd.Series([True, False, True], dtype=bool)  # Boolean
}

# Create the DataFrame
df_apple_products = pd.DataFrame(data)

df_apple_products

   Product_ID Product_Type            Model Release_Date    Price  In_Stock
0           1      MacBook  MacBook Pro 13"   2021-05-21  1299.99      True
1           2         iPad         iPad Air   2022-03-18   599.99     False
2           3       iPhone        iPhone 13   2023-09-24   999.99      True

In [18]:
# Create additional rows with some NULL (NaN) values using a dictionary
additional_data = {
    'Product_ID': [4, 5, 6, 7, 8],  # Numerical
    'Product_Type': ['Watch', 'AirPods', 'MacMini', None, 'MacBook Air'],  # Categorical, with one None
    'Model': ['Watch Series 7', 'AirPods Pro', None, 'MacMini M1', 'MacBook Air M1'],  # Object/String, with one None
    'Release_Date': [datetime(2021, 10, 15), datetime(2021, 5, 18), None, datetime(2020, 11, 17), datetime(2020, 12, 22)],  # Time, with one None
    'Price': [399.99, 249.99, 699.99, None, 999.99],  # Currency, with one None
    'In_Stock': [True, False, True, False, None]  # Boolean, with one None
}

# Convert the dictionary to a DataFrame
additional_df = pd.DataFrame(additional_data)

# Combine the original DataFrame with the additional DataFrame
df = pd.concat([df_apple_products, additional_df], ignore_index=True)

# Creating a single 'Category_Type' column with values based on the 'Product_Type' column
# Assuming 'MacBook' and 'MacMini' fall under 'Computers', 'iPhone' under 'Mobiles', and 'Watch' under 'Wearables'
# 'iPad' and 'AirPods' are categorized respectively under 'Tablets' and 'Accessories'

# Define a function to categorize the product type
df['Category_Type'] = ['desktop', 'mobile', 'mobile', 'wearable', 'wearable', 'desktop', 'desktop', 'desktop']


df

,Product_ID,Product_Type,Model,Release_Date,Price,In_Stock,Category_Type
0,1,MacBook,"MacBook Pro 13""",2021-05-21,1299.99,True,desktop
1,2,iPad,iPad Air,2022-03-18,599.99,False,mobile
2,3,iPhone,iPhone 13,2023-09-24,999.99,True,mobile
3,4,Watch,Watch Series 7,2021-10-15,399.99,True,wearable
4,5,AirPods,AirPods Pro,2021-05-18,249.99,False,wearable
5,6,MacMini,None,NaT,699.99,True,desktop
6,7,None,MacMini M1,2020-11-17,NaN,False,desktop
7,8,MacBook Air,MacBook Air M1,2020-12-22,999.99,None,desktop

In [19]:
pd.to_datetime(df.Release_Date)

0   2021-05-21
1   2022-03-18
2   2023-09-24
3   2021-10-15
4   2021-05-18
5          NaT
6   2020-11-17
7   2020-12-22
Name: Release_Date, dtype: datetime64[ns]

In [20]:
# How can you convert the Model column to all uppercase?
# Can you extract the first word from the Product_Type column?
# Is it possible to count the number of characters in each entry of the Model column?
# How would you replace spaces with underscores in the Model column?
# Can you split the Model column into two separate columns at the first space, assuming all models have at least two words?
# How would you check if the Model column contains the word 'Pro'?
# What method would you use to remove any trailing whitespaces from the entries in the Product_Type column?
# Can you find out how many unique models of MacBook are listed in the Model column?
# How would you concatenate the Product_Type and Model columns into a new column called Full_Name?
# If the Model column has missing values, how would you fill them with the string 'Unknown'?

In [21]:
df.Model.str.upper()

0    MACBOOK PRO 13"
1           IPAD AIR
2          IPHONE 13
3     WATCH SERIES 7
4        AIRPODS PRO
5               None
6         MACMINI M1
7     MACBOOK AIR M1
Name: Model, dtype: object

In [22]:
# Can you extract the first word from the Product_Type column?

df.Product_Type.str.split().str.get(0)

0    MacBook
1       iPad
2     iPhone
3      Watch
4    AirPods
5    MacMini
6       None
7    MacBook
Name: Product_Type, dtype: object

In [23]:
df

,Product_ID,Product_Type,Model,Release_Date,Price,In_Stock,Category_Type
0,1,MacBook,"MacBook Pro 13""",2021-05-21,1299.99,True,desktop
1,2,iPad,iPad Air,2022-03-18,599.99,False,mobile
2,3,iPhone,iPhone 13,2023-09-24,999.99,True,mobile
3,4,Watch,Watch Series 7,2021-10-15,399.99,True,wearable
4,5,AirPods,AirPods Pro,2021-05-18,249.99,False,wearable
5,6,MacMini,None,NaT,699.99,True,desktop
6,7,None,MacMini M1,2020-11-17,NaN,False,desktop
7,8,MacBook Air,MacBook Air M1,2020-12-22,999.99,None,desktop

In [24]:
df.to_csv('df_apple.csv', index = None)