In [3]:
import pandas as pd
import numpy as np
import os

In [8]:
df = pd.read_csv('df_apple.csv')
df

,Product_ID,Product_Type,Model,Release_Date,Price,In_Stock,Category_Type
0,1,MacBook,"MacBook Pro 13""",2021-05-21,1299.99,True,desktop
1,2,iPad,iPad Air,2022-03-18,599.99,False,mobile
2,3,iPhone,iPhone 13,2023-09-24,999.99,True,mobile
3,4,Watch,Watch Series 7,2021-10-15,399.99,True,wearable
4,5,AirPods,AirPods Pro,2021-05-18,249.99,False,wearable
5,6,MacMini,NaN,NaN,699.99,True,desktop
6,7,NaN,MacMini M1,2020-11-17,NaN,False,desktop
7,8,MacBook Air,MacBook Air M1,2020-12-22,999.99,NaN,desktop

In [1]:
# -----------clip

# How would you use clip to ensure that all values in the Price column are between 300 and 1000?
# Can you demonstrate how to clip the Product_ID values so that they do not exceed 5?
# If you wanted to set a lower limit of '2021-01-01' on the Release_Date column, how would you apply clip with a datetime?
# How can you use clip to ensure that no Price values in the DataFrame are below 500?
# Is there a way to apply clip to the entire DataFrame so that numeric values do not exceed a specific upper limit, say 2000?
# How would you use clip to adjust the Product_ID values so that they are not lower than 2 and not higher than 6?

In [2]:
# -----------explode

# If the Model column had multiple models listed in a single cell as a list, how would you use explode to create a separate row for each model while keeping the other column data intact?
# Can you demonstrate how to use explode if the Category_Type column contained multiple categories per product, stored as a list, to expand them into individual rows?
# How would you apply explode to a hypothetical Features column (containing lists of features for each product) to create a new row for each feature while retaining the associated product data?
# If there were a column with multiple release dates per product (in list format), how could explode be used to create individual rows for each release date?
# How would you use explode to handle a scenario where the Price column includes a range of prices (as a list) for each product, expanding them into separate rows?
# If the In_Stock column had a list indicating stock status in different locations (e.g., [True, False, True]), how could you use explode to create separate rows for each location's stock status?

In [4]:
# --------------- flatten

# If you had a multi-index DataFrame, how would you flatten the index to create a single level index?
# In case of a column with list-like entries, how would you flatten these lists to create individual data entries across multiple rows?
# If there were a DataFrame with nested JSON objects in one of the columns, how would you flatten these JSON objects into separate columns?
# Can you demonstrate how to flatten a column that contains tuples of data into multiple separate columns?
# If the DataFrame had hierarchical columns (multi-level columns), how would you flatten these to create a single level of column headers?
# How would you approach flattening a DataFrame that has a combination of nested lists and dictionaries in one of its columns?